<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div th:insert="~{fragment/navigation :: navigation}"></div>
	<div class="row"><h2>Rating List</h2></div>
	<div class="row">
		<a href="/rating/add" class="btn btn-primary btn-sm">Add New</a>
	</div>
	<div class="row">
		<p th:if="${message != null}" th:text="${message}" style="color: red;">Result message</p>
		<p th:unless="${message != null}">&nbsp;</p>
	</div>
	<div class="row">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>MoodysRating</th>
					<th>SandPRating</th>
					<th>FitchRating</th>
					<th>Order</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.isEmpty(ratings)}">
					<td colspan="6">No rating registered</td>
				</tr>
				<tr th:each="rating :${ratings}">
					<td><span th:text="${rating.id}"> Id </span></td>
					<td><span th:text="${rating.moodysRating}"> MoodysRating </span></td>
					<td><span th:text="${rating.sandPRating}"> SandPRating </span></td>
					<td><span th:text="${rating.fitchRating}"> FitchRating </span></td>
					<td><span th:text="${rating.orderNumber}"> Order </span></td>
					<td>
						<a th:href="@{/rating/update/{id}(id=${rating.id})}">Edit</a>&nbsp;|&nbsp;
						<a th:href="@{/rating/delete/{id}(id=${rating.id})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>