<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div th:insert="~{fragment/navigation :: navigation}"></div>
	<div class="row"><h2>Bid List</h2></div>
	<div class="row">
		<a href="/bidList/add" class="btn btn-primary btn-sm">Add New</a>
	</div>
	<div class="row">
		<p th:if="${message != null}" th:text="${message}" style="color: red;">Result message</p>
		<p th:unless="${message != null}">&nbsp;</p>
	</div>
	<div class="row">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Account</th>
					<th>Type</th>
					<th>Bid Quantity</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.isEmpty(bidLists)}">
					<td colspan="5">No bit list registered</td>
				</tr>
				<tr th:each="bidList: ${bidLists}">
					<td><span th:text="${bidList.bidListId}"> Bid list id </span></td>
					<td><span th:text="${bidList.account}"> Account </span></td>
					<td><span th:text="${bidList.type}"> Type </span></td>
					<td><span th:text="${bidList.bidQuantity}"> Bid quantity </span></td>
					<td>
						<a th:href="@{/bidList/update/{id}(id=${bidList.bidListId})}">Edit</a>&nbsp;|&nbsp;
						<a th:href="@{/bidList/delete/{id}(id=${bidList.bidListId})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>